#blog {
  h2 {
    font-size: 1.25rem;
  }
  .card {
    border-radius: 0.75rem;
  }
  .card_unten {
    margin-top: auto;
  }
  article {
  }
}
.bild_desc {
  color: #916c58 !important;
}
@media screen and (min-width: 768px) {
  #blog {
    .card {
      margin: 0 -1em;
    }
  }
}
