// load custom font from google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "~bootstrap/scss/functions";
// redefine variables not dependent on anything else

// global variables
$primary: #92400e;
$secondary: #b5866e;
$light: #fff6ee;
$dark: #402e32;

// theme color variables

// font family
$headings-font-family: "Montserrat", sans-serif;
$font-family-base: "Roboto", sans-serif;

// links

//navbar
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgba($primary, 0.1);

// import variables and mixins files (so you can use them below)
// any redefined vars above will be incorporated into the files (e.g. in maps)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// utility api - import utility file first
// import bootstrap whole sass lib (incorporates all above redefined vars & values)
@import "~bootstrap/scss/bootstrap";

body {
  background: rgba($light, 0.3);
}

.section {
  margin-top: 4rem;
}
@media screen and (min-width: 992px) {
  .section {
    margin-top: 7rem;
  }
}
p {
  color: $dark;
}

//import custom components
@import "./footer";
@import "./navigation";
@import "./cta";
@import "./faq";
@import "./features";
@import "./hero";
@import "./process";
